<div class="add-new">
  <button (click)="popup = true">Add New Company</button>
</div>
<div id="container">
  <div *ngFor="let company of companies; let i = index" class="card">
    <div class="card__partition card__partition--company" (click)="setCanEdit(i, $event)">
      <span id="companyName" *ngIf="!company.canEdit.companyName">
        <h2>{{ company.companyName }}</h2>
      </span>
      <input 
        *ngIf="company.canEdit.companyName"
        type="text"
        [(ngModel)]="company.companyName"
        id="companyNameInput"
      />
    </div>
    <div class="card__partition card__partition--status" (click)="setCanEdit(i, $event)">
      <h3>Status</h3>
      <span id="status" *ngIf="!company.canEdit.status">
        {{ company.status.selectedValue }}
      </span>
      <select *ngIf="company.canEdit.status" [(ngModel)]="company.status.selectedValue">
        <option *ngFor="let o of company.status.options" value="{{ o }}">
          {{ o }}
        </option>
      </select>
    </div>
    <div class="card__partition card__partition--info" (click)="setCanEdit(i, $event)">
      <h3>Company Info</h3>
      <span id="info" *ngIf="!company.canEdit.info">
        {{ company.info }}
      </span>
      <textarea *ngIf="company.canEdit.info || !company.info" [(ngModel)]="company.info"></textarea>
    </div>
    <div class="card__partition card__partition--contact" (click)="setCanEdit(i, $event)">
      <h3>Key Contacts</h3>
      <input 
          *ngIf="!company.contacts[0]"
          type="text"
          [(ngModel)]="company.contacts[0]"
        />
      <div class="contact" *ngFor="let contact of company.contacts; let j = index; trackBy:customTrackBy">
        <span id="contact" *ngIf="!company.canEdit.contact">
          {{ company.contacts[j] }}
        </span>
        <input 
          *ngIf="company.canEdit.contact"
          type="text"
          [(ngModel)]="company.contacts[j]"
        />
      </div>
      <button (click)="addContact(i)">Add Contact</button>
    </div>
    <div class="card__partition card__partition--performance" (click)="setCanEdit(i, $event)">
      <h3>Financial Performance</h3>
      <span id="performance" *ngIf="!company.canEdit.performance">
        {{ company.financial_performance }}
      </span>
      <textarea *ngIf="company.canEdit.performance || !company.financial_performance" [(ngModel)]="company.financial_performance"></textarea>
    </div>
    <div class="card__partition card__partition--buttons">
      <button
        id="edit"
        (click)="setCanEdit(i, $event)"
        *ngIf="!company.canEdit.companyName && !company.canEdit.status && !company.canEdit.info && !company.canEdit.contact && !company.canEdit.performance">
          Edit
      </button>
      <button
        id="save"
        (click)="finishEdit(i)"
        *ngIf="company.canEdit.companyName || company.canEdit.status || company.canEdit.info || company.canEdit.contact || company.canEdit.performance">
          Save
      </button>
      <button (click)="deleteCompany(i)">Delete</button>
    </div>
  </div>
</div>


<div class="popup" id="popup" *ngIf="popup">
  <div class="popup__content">
    <button (click)="popup = false" class="popup__close">&times;</button>
    <form #f="ngForm" (ngSubmit)="addNewCompany(f)">
      <div class="field">
        <label for="companyName">Company Name</label>
        <input 
          name="companyName"
          type="text"
          required
          ngModel
        />
      </div>
      <div class="field">
        <label for="companyStatus">Status</label>
        <select
          name="companyStatus"
          required
          ngModel
        >
          <option value="Researching">Researching</option>
          <option value="Pending Approval">Pending Approval</option>
          <option value="Approved">Approved</option>
          <option value="Declined">Declined</option>
          <option value="Negotiating">Negotiating</option>
          <option value="Acquired">Acquired</option>
        </select>
      </div>
      <div class="field">
        <label for="companyInfo">Info</label>
        <textarea
          name="companyInfo"
          required
          ngModel
        ></textarea>
      </div>
      <div class="field">
        <label for="contact">Contact</label>
        <input 
          type="text"
          name="contact"
          placeholder="Name, number, email"
          required
          ngModel
        />
      </div>
      <div class="field">
        <label for="companyPerformance">Financial Performance</label>
        <textarea
          name="companyPerformance"
          required
          ngModel
        ></textarea>
      </div>
      <button type="submit" [disabled]="f.invalid">Add New Company</button>
    </form>
  </div>
</div>